
<div class="container-fluid bg-warning shadow-sm" style="height: 2.4rem;">
    
  <div class="row">
    <div class="col">
        <ion-icon name="chatbox-outline" style="font-size: 2rem;float: left;"></ion-icon>
      </div>
      <div class="col-auto">
       <span class="text-center" style="font-size: larger;font-weight: bold;font-family: 'Times New Roman', Times, serif;">FriendZone</span> 
      </div>
      <div class="col">
        <span class="text-right">
          <ion-icon name="caret-forward-circle-outline" style="font-size: 2rem;float: right;"></ion-icon>
      
        </span>
        
      </div>
    </div>
  </div>

<!--
<nav class="navbar navbar-dark bg-warning">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <ion-icon name="chatbox-outline" style="font-size: 2rem;"></ion-icon>
    </li>
    <li class="nav-item">
      FriendZone
    </li>
    <li class="nav-item">
      <ion-icon name="caret-forward-circle-outline" style="font-size: 2rem;"></ion-icon>
    </li>
  </ul>
</nav>

-->
  
