<ion-tabs> 
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">
    <ion-tab-button tab="feed">
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="post">
      <ion-icon name="add-circle-outline"></ion-icon>
    
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>


    
    
  </ion-tab-bar>
</ion-tabs>
