

<div class="container-fluid bg-white shadow-sm fixed-top" style="height: 2.6rem;">
    <div class="row">
      <div class="col">
          <ion-icon name="chatbox-outline" style="font-size: 2rem;float: left;"></ion-icon>
        </div>
        <div class="col-auto">
         <span class="text-center" style="font-size: larger;font-weight: bold;font-family: 'Times New Roman', Times, serif;">FriendZone</span> 
        </div>
        <div class="col">
          <span class="text-right">
            <ion-icon name="caret-forward-circle-outline" style="font-size: 2rem;float: right;"></ion-icon>
        
          </span>
          
        </div>
      </div>
</div>
<br>
<br>
<ion-content>
    <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
        </ion-refresher>
    <div class="container-fluid bg-white shadow-sm">
        <div class="row" style="height: auto;">
            <div class="col-12">
                
            </div>
        </div>

        <div class="row">            
                <div class="col-12 shadow-lg" tyle="border-bottom: 1px solid black;border-top: 1px solid black;">
                  <div class="row">
                      <div class="col-12">
                          <small>pachora,424201</small>
                      </div>
                      <div class="col-12 bg-dark">
                          <img src="assets\image\logo.png" class="img-fluid">
                      </div>
                      <div class="col-12">
                          <div class="row m-1">
                              <div class="col-6 text-center">
                                  <ion-icon name="heart-outline"></ion-icon>
                              </div>
                              <div class="col-6 text-center">
                                  <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                              </div>
                              <div class="col-12">
                                  <small>caption</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>




              <div class="col-12 shadow-lg" tyle="border-bottom: 1px solid black;border-top: 1px solid black;">
                <div class="row">
                    <div class="col-12">
                        <small>pachora,424201</small>
                    </div>
                    <div class="col-12 bg-dark">
                        <img src="assets\image\logo.png" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <div class="row m-1">
                            <div class="col-6 text-center">
                                <ion-icon name="heart-outline"></ion-icon>
                            </div>
                            <div class="col-6 text-center">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            </div>
                            <div class="col-12">
                                <small>caption</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <div class="col-12 shadow-lg" tyle="border-bottom: 1px solid black;border-top: 1px solid black;">
                <div class="row">
                    <div class="col-12">
                        <small>pachora,424201</small>
                    </div>
                    <div class="col-12 bg-dark">
                        <img src="assets\image\logo.png" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <div class="row m-1">
                            <div class="col-6 text-center">
                                <ion-icon name="heart-outline"></ion-icon>
                            </div>
                            <div class="col-6 text-center">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            </div>
                            <div class="col-12">
                                <small>caption</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      </div>
</ion-content>
