h1{
    font-size: 2rem;
    font-weight: 2rem;
    font-family: 'Times New Roman', Times, serif;

    text-shadow: 2px 1px 5px black;
}
input{
    border: 1.5px solid black;
    text-align: left;
    width: 97%;
    height: 2.3rem;
}
label{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: left;
}