<div class="container-fluid bg-white shadow-lg border border-secondary">
    <div class="row">
        <div class="col-auto">
            <div class="bg-dark" style="border-radius:25px;height: 80px;width: 80px;">
              
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6 text-center">
                    followers
                    
                    <b>20</b>
                </div>
                <div class="col-6 text-center">
                    following
            
                    <b>20</b>
                </div>

            </div>
        </div>
        <div class="col-12">
            <b>Name</b>
            <small>bio</small>
        </div>
    </div>
</div>
<ion-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>


            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>


            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>

            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
            <div class="col-4 border border-secondary" style="height: 90px;width:90px;">

            </div>
        </div>
    </div>
</ion-content>