<app-navbar></app-navbar>
<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  
    <div class="container-fluid">
        <div class="row bg-light">
                <!--dash -->
                <div class="col-12 shadow-lg" style="margin-top: 5px;border-bottom: 1px solid black;border-top: 1px solid black;">
                    <div class="row">
                        <div class="col-12 shadow-sm bg-light">
                            location
                        </div>
                        <div class="col-12 bg-white">
                            <img src="assets\image\logo.png" class="img-fluid">
                        </div>
                        <div class="col-12 bg-light">
                            <div class="row m-1">

                                <div class="col-6 text-center">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <div class="col-6 text-center">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </div>
                                <div class="col-12">
                                    <small>caption</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                


                <div class="col-12 shadow-lg" style="margin-top: 5px;border-bottom: 1px solid black;border-top: 1px solid black;">
                    <div class="row">
                        <div class="col-12 shadow-sm bg-light">
                            location
                        </div>
                        <div class="col-12 bg-white">
                            <img src="assets\image\logo.png" class="img-fluid">
                        </div>
                        <div class="col-12 bg-light">
                            <div class="row m-1">

                                <div class="col-6 text-center">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <div class="col-6 text-center">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </div>
                                <div class="col-12">
                                    <small>caption</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12 shadow-lg" style="margin-top: 5px;border-bottom: 1px solid black;border-top: 1px solid black;">
                    <div class="row">
                        <div class="col-12 shadow-sm bg-light">
                            location
                        </div>
                        <div class="col-12 bg-white">
                            <img src="assets\image\logo.png" class="img-fluid">
                        </div>
                        <div class="col-12 bg-light">
                            <div class="row m-1">

                                <div class="col-6 text-center">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <div class="col-6 text-center">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </div>
                                <div class="col-12">
                                    <small>caption</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 shadow-lg" style="margin-top: 5px;border-bottom: 1px solid black;border-top: 1px solid black;">
                    <div class="row">
                        <div class="col-12 shadow-sm bg-light">
                            location
                        </div>
                        <div class="col-12 bg-white">
                            <img src="assets\image\logo.png" class="img-fluid">
                        </div>
                        <div class="col-12 bg-light">
                            <div class="row m-1">

                                <div class="col-6 text-center">
                                    <ion-icon name="heart-outline"></ion-icon>
                                </div>
                                <div class="col-6 text-center">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </div>
                                <div class="col-12">
                                    <small>caption</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</ion-content>

<app-tabs>
</app-tabs>
