<div class="bg-warning container-fluid" style="height: 100%;width:100%;margin-bottom: auto;">
  <div class="row" style="height: auto;">
    <div class="col-sm-8">
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="container-fluid text-center">
            <img src="assets/image/logo.png" alt="image logo" style="margin-top:3rem;height: 200px;width: auto;">
          </div>
        </div>
        <div class="col-sm-12">
          <form class="text-center container-fluid p-2 shadow-lg" style="border: 0.2rem solid white;">
            <div class="row text-center" style="margin-top: 4rem;">
              <div class="col-12">
                <input type="text" class="form-control" placeholder="userName" style="border: 1.5px solid black;color: black;text-align: center;">
                <br>
              </div>
              <div class="col-12">
                <input type="password" class="form-control" placeholder="Password" id="" style="border: 1.5px solid black;color: black;text-align: center;">
                <br>
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-sm shadow-sm" value="Login" style="background-color: black;color:yellow;width:6rem;">
              </div>
              <div class="col-12 text-right g-success m-4">
                <div class="row">
                  <div class="col-6">
                    
                  </div>
                  
                  <div (click)="showModal()" class="col-6 btn btn-md" style="border-radius: 15px 0px 0px 15px;background-color: black;color: yellow;">
                  
                    Singup>>
                  
                  </div>

                </div>
              </div>
            </div>
              
      
        </form>
        </div>

      </div>
      
         
          

    </div>
  </div>

</div>