@media only screen and (max-width: 600px) {


}



.form1{
    margin-top: 3rem;
    input{
        color: black;
        border: 1.5 px solid black;
    }
   /* input[type=text] {
        color:black;
        height:2.3rem;
        width: 80%;
        border: 1.5px solid black;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    
    input[type=password] {
        color:black;
        width: 80%;
        height: 2rem;
        height: 2.3rem;
        text-align: center;
        color: black;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border: 1.5px solid black;
    }*/
}
